{% extends "base.html" %}

{% block content %}
<h1>About Us</h1>
<p>Our mission is to help you find the best job matches based on your resume and preferences.</p>

<div class="row mt-5">
    <div class="col-md-4 text-center">
        <img src="{{ url_for('static', filename='pieter.jpeg') }}" alt="Team Member 1" class="img-fluid rounded-circle">
        <h3 class="mt-3">Pieter Van Daele</h3>
        <p>GUI Fixer</p>
    </div>
    <div class="col-md-4 text-center">
        <img src="{{ url_for('static', filename='irakli.jpeg') }}" alt="Team Member 2" class="img-fluid rounded-circle">
        <h3 class="mt-3">Irakli Berdzenishvili</h3>
        <p>GUI Founder</p>
    </div>
    <div class="col-md-4 text-center">
        <img src="{{ url_for('static', filename='artoer.jpg') }}" alt="Team Member 3" class="img-fluid rounded-circle">
        <h3 class="mt-3">Artoer Lukyanov</h3>
        <p>Code Wizard</p>
    </div>
    <div class="col-md-4 text-center mt-4">
        <img src="{{ url_for('static', filename='mikail.jpeg') }}" alt="Team Member 4" class="img-fluid rounded-circle">
        <h3 class="mt-3">Mikail Malcikan</h3>
        <p>Cosine Similarity Expert</p>
    </div>
    <div class="col-md-4 text-center mt-4">
        <img src="{{ url_for('static', filename='ayush.jpg') }}" alt="Team Member 5" class="img-fluid rounded-circle">
        <h3 class="mt-3">Ayush Shrestha</h3>
        <p>Lead Scraper</p>
    </div>
</div>
{% endblock %}
